---
layout: page
title: index
---

<!DOCTYPE html>
<html lang="{{ site.lang }}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <title>{% t site.title %}</title>
</head>

<body style="background: linear-gradient(var(--color-pal1), var(--color-pal2), var(--color-pal1));">
    {% include header.html %}

    <div class="content">
        <div class="left contentSide">
            <p class="contentTitle">{% t aboutme.maintitle %} <mark>{% t aboutme.maintitle_mark %}</mark></p>
            <p class="contentText">{% t aboutme-content.main %}</p>
        </div>
        <div class="right contentSide">
            <img class="animatedGradientColor" src="assets/images/coolguy1.png" alt="guy shirt"
                style="position: absolute;">
            <img class="contentImg" src="assets/images/coolguy2.png" alt="guy">
        </div>
    </div>

    <div class="content" style="background-color: var(--color-pal2); flex-direction: column;">
        <p class="contentTitle">{% t aboutme.creating %} <mark>{% t aboutme.creating_mark %}</mark> {% t
            aboutme.creating_aftermark %}</p>
        <p class="contentText">{% t aboutme-content.creating %}</p>
        <div class="cardCollection">

            <div class="card">
                <img class="titleImage animatedGradientColor" src="assets/images/hobby-logo1.png" alt="programming">
                <p>{% t aboutme.hobbycard.programming %}</p>
                <p class="tooltip">{% t aboutme-content.hobby1 %}</p>
            </div>
            <div class="card">
                <img class="titleImage animatedGradientColor" src="assets/images/hobby-logo2.png" alt="gamemaking">
                <p>{% t aboutme.hobbycard.pc %}</p>
                <p class="tooltip">{% t aboutme-content.hobby2 %}</p>
            </div>
            <div class="card">
                <img class="titleImage animatedGradientColor" src="assets/images/hobby-logo3.png" alt="video">
                <p>{% t aboutme.hobbycard.video %}</p>
                <p class="tooltip">{% t aboutme-content.hobby3 %}</p>
            </div>

        </div>

    </div>

    <div class="content">
        <div class="left contentSide">
            <img class="contentImg animatedGradientColor" src="assets/images/socials.png" alt="my socials">
        </div>
        <div class="right contentSide">
            <p class="contentTitle">{% t aboutme.socials %} <mark>{% t aboutme.socials_mark %}</mark></p>
            <p class="contentText">{% t aboutme-content.socials %}</p>
        </div>
    </div>

    {% include footer.html %}
</body>

</html>