---
layout: page
title: socials
requires-stickyfooter: true
---

<!DOCTYPE html>
<html lang="{{ site.lang }}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <title>{% t site.title %}</title>
</head>

<body>
    {% include header.html %}

    <div class="content" style="flex-direction: column;">
        <p class="contentTitle">{% t social.titlePublic %}</p>
        <div class="cardCollection">
            <img class="smallImageContact" src="assets/images/yt.png" alt="discord">
            <img class="smallImageContact" src="assets/images/gh.png" alt="github">
        </div>
        <p class="contentTitle">{% t social.titleContact %}</p>
        <div class="cardCollection">
            <img class="smallImageContact" src="assets/images/discord.png" alt="discord">
            <img class="smallImageContact" src="assets/images/email.png" alt="email">
        </div>
    </div>

    {% include footer.html %}
</body>

</html>