---
layout: page
title: socials
requires-stickyfooter: true
---

<!DOCTYPE html>
<html lang="{{ site.lang }}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <script>
        function copyToClipboard(elementId) {
            console.log("copied ", elementId)

            var copyText = ""
            switch (elementId) {
                case "discord":
                    copyText = "scriptydude"
                    break;
                case "email":
                    copyText = "kiryhamsg@tutamail.com"
                default:
                    break;
            }

            navigator.clipboard.writeText(copyText)
            alert("copied " + elementId + " to clipboard!")
        }
    </script>

    <title>{% t site.title %}</title>
</head>

<body>
    {% include header.html %}

    <div class="content" style="flex-direction: column;">
        <p class="contentTitle">{% t social.titlePublic %}</p>
        <div class="cardCollection">
            <a href="https://www.youtube.com/@KirillkaV">
                <img class="smallImageContact" src="assets/images/yt.png" alt="yt">
            </a>
            <a href="https://github.com/kirya-scriptydude">
                <img class="smallImageContact" src="assets/images/gh.png" alt="github">
            </a>
        </div>
        <p class="contentTitle">{% t social.titleContact %}</p>
        <div class="cardCollection">
            <img class="smallImageContact" src="assets/images/discord.png" alt="discord" onclick="copyToClipboard('discord')">
            <img class="smallImageContact" src="assets/images/email.png" alt="email" onclick="copyToClipboard('email')">
        </div>
    </div>

    {% include footer.html %}
</body>

</html>