@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root {
    --color-pal1: #06141B;
    --color-pal2: #11212D;
    --color-pal3: #253745;
    --color-pal4: #4A5C6A;
    --color-pal5: #9BA8AB;
    --color-pal6: #CCD0CF;

    --color-accent: #75abd5;
    --color-colorless: #05080a;
}


body {
    margin: 0;
    background: linear-gradient(var(--color-pal1), var(--color-pal2), var(--color-pal1));

    font-family: 'Oswald';
    p {
        color: var(--color-pal6);
        font-weight: bold;
    }

    mark {
        color: var(--color-accent);
        background-color: rgba(0, 0, 0, 0);
    }
}

.header {
    background-color: var(--color-accent);
    overflow: hidden;

    width: 100%;
    margin: auto;
    margin-bottom: 64px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;

    .logo {
        width: 42px;
        height: 42px;
        padding: 12px;
        padding-left: 24px;
    }

    a {
        color: var(--color-pal3);
        font-weight: bold;
        margin-right: 50px;
        text-decoration: none;
    }
}

.content {
    padding: 32px;
    padding-top: 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;

    .contentTitle {
        font-weight: bold;
        font-size: 32px;
        margin-bottom: 12px;
        text-align: center;
    }

    .contentText {
        color: var(--color-pal5);
        line-height: 150%;
        font-size: 20px;
    }

    .contentSide {
        width: 25%;
        margin: 24px;
    }
}

.cardCollection {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .card {
        width: 150px;
        height: 250px;
        background-color: var(--color-pal1);
        margin: 32px;

        display: flex;
        flex-direction: column;
        justify-content: center;

        .titleImage {
            height: 50%;
            width: 92%;
            padding: 5%;
        }
        
        p {
            text-align: center;
            padding: 0;
            margin: 0;
        }

        .tooltip {
            font-size: 12px;
            font-weight: 200;
        }
    }
}

@keyframes animatedGradientColorFrames {
    0% {filter: saturate(100%);}
    25% {filter: saturate(200%);}
    50% {filter: saturate(150%) grayscale(35%);}
    75% {filter: saturate(150%) grayscale(0%);}
    100% {filter: saturate(100%);}
}
.animatedGradientColor {
    animation-name: animatedGradientColorFrames;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.footer {
    width: 100%;
    background-color: var(--color-colorless);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;

    p {
        color: var(--color-pal4);
        font-weight: 300;
    }
}