@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

:root {
    --color-pal1: #06141B;
    --color-pal2: #11212D;
    --color-pal3: #253745;
    --color-pal4: #4A5C6A;
    --color-pal5: #9BA8AB;
    --color-pal6: #CCD0CF;

    --color-accent: #75abd5;
    --color-colorless: #05080a;
}


body {
    margin: 0;
    background-color: var(--color-pal1);

    font-family: 'Oswald';

    p {
        color: var(--color-pal6);
        font-weight: bold;
    }

    mark {
        color: var(--color-accent);
        background-color: rgba(0, 0, 0, 0);
        font-family: 'Caveat', 'monospace';
    }
}

.header {
    background-color: var(--color-accent);
    overflow: hidden;

    width: 100%;
    margin: auto;
    margin-bottom: 64px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;

    .logo {
        width: 42px;
        height: 42px;
        padding: 12px;
        padding-left: 24px;
    }

    a {
        color: var(--color-pal3);
        font-weight: bold;
        margin-right: 50px;
        text-decoration: none;
    }
}

.content {
    padding: 32px;
    padding-top: 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;

    .contentTitle {
        font-weight: bold;
        font-size: 32px;
        margin-bottom: 12px;
        text-align: center;
    }

    .contentText {
        color: var(--color-pal5);
        line-height: 150%;
        font-size: 20px;

        @media only screen and (max-width: 600px) {
            text-align: center;
        }
    }

    .contentSide {
        width: 25%;
        margin: 24px;
    }

    @media only screen and (max-width: 600px) {
        display: block;

        .contentSide {
            width: 85%;
        }

        .contentImg {
            width: 100%;
            height: 100%;
        }

        .suitGradient {
            width: 100%;
            height: 100%;
        }
    }  

    .suitParent {
        position: relative;
        top: 0;
        left: 0;
    }

    .suitGradient {
        position: absolute;
        left: 0%;
        top: -1%;
    }

    .suitBg {
        position: relative;
        top: 0;
        left: 0;
    }
}

.cardCollection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;


    @media only screen and (max-width: 600px) {
        flex-direction: column;

        .socialCollection {
            flex-direction: column;
        }
    }

    .card {
        width: 150px;
        height: 250px;
        background-color: var(--color-pal1);
        margin: 32px;

        display: flex;
        flex-direction: column;
        justify-content: center;

        .titleImage {
            height: 50%;
            width: 92%;
            padding: 5%;
        }

        p {
            text-align: center;
            padding: 0;
            margin: 0;
        }

        .tooltip {
            font-size: 12px;
            font-weight: 200;
        }
    }

    
}

@keyframes animatedGradientColorFrames {
    0% {
        filter: saturate(100%) contrast(100%);
    }

    10% {
        filter: saturate(200%) contrast(100%);
    }

    25% {
        filter: saturate(150%) contrast(125%);
    }

    35% {
        filter: saturate(150%) contrast(150%);
    }

    50% {
        filter: saturate(125%) contrast(170%);
    }

    75% {
        filter: saturate(100%) contrast(125%);
    }

    100% {
        filter: saturate(100%) contrast(100%);
    }
}

.animatedGradientColor {
    animation-name: animatedGradientColorFrames;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

.footer {
    width: 100%;
    background-color: var(--color-colorless);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;

    p, a {
        color: var(--color-pal4);
        font-weight: 300;

        padding: 16px;
        margin-left: 32px;
    }

    mark {
        text-decoration: underline;
    }
}

.stickyFooter {
    position: fixed;
    left: 0;
    bottom: 0;
}

.smallImageContact {
    width: 64px;
    height: 64px;
    margin-right: 32px;
    margin-bottom: 6px;

    filter: brightness(0) saturate(100%) invert(65%) sepia(72%) saturate(237%) hue-rotate(165deg) brightness(87%) contrast(92%);
}